@import "tailwindcss";
@import "tw-animate-css";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "./theme.css";

/** Global Styles **/
@layer base {
    * {
        @apply border-border;
    }

    *:focus-visible {
        @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
    }

    html,
    body {
        @apply min-h-screen scroll-smooth bg-background text-foreground;
    }
    body {
        @apply text-base antialiased font-sans;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: default;
    }
}

/** Custom Scrollbar **/
@layer base {
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--input);
        border-radius: 5px;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--input) transparent;
    }
}

/** Custom Container **/
@utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
    @media (width >= --theme(--breakpoint-sm)) {
        max-width: none;
    }
    @media (width >= 1440px) {
        padding-inline: 2rem;
        max-width: 1440px;
    }
}

@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}

/** Smooth scroll **/
html {
    scroll-behavior: smooth;
}
